*{
    box-sizing: border-box;
}

body{
    background-color: rgb(227, 203, 175);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.3;
}

.wrapper{
    background-color: rgb(255, 241, 225);
    max-width: 1024px;
    margin: 0 auto;
    
}


.container{
    position: relative;
}


#nav-bar{
    margin-top: 0px;

}


#nav-bar li{
    display: inline-block;
    width: 30%;
    text-align: center;
    border-right: 1px solid black;
    
}


#nav-bar li:nth-child(3){
    border: none;
}


#nav-bar li a{
    padding: 0px 90px 0px 100px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}


.heading{
    color: white;
    position: absolute;
    bottom:15%;
    width:100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    
}


#cat{
    border-left: 1px solid black;
}


.space{
    margin:10px;
}

h2,h3{
    font-weight: 500;
    /* font-size:1.7rem; */
}

#cat-cropped{
    width:200px;
    float: left;
    margin: 0px 15px 15px 0px;


}


.flow{
    display: inline;


}

.list-2{
    padding-left: 20px;
}

form{
    border: solid black 1px;
    
}


.forms{
    padding: 10px;

}


.forms input{
    display:block;
    
}


textarea{
    display:block;
    width: 100%;
    height: 5rem;
    margin-top:5px;
    resize:none;
}


#yourname{
    width: 100%;
    margin-top:5px;
}


#email{
    width: 100%;
    margin-top:5px;
    
}


.forms div{
    padding-top: 15px;
}


h3{
    margin-bottom:0px;
}


.radio div{
    display: inline-block;
    
}


.radio input{
    display:inline-block;
}


button{
    background-color: rgb(255, 241, 225);
    text-transform: uppercase;
    padding: 11px;
    font-size: 0.6rem;
    border: 1.4px solid;
}


footer{
    text-align: right;
    padding: 25px;
}


h2{
    margin-bottom:10px;
}

ul{
    margin-top: 0px;
}